---
layout: default
title: Personal Webpage
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  I'm a master student in the <a href="https://stanfordmlgroup.github.io/">Nanyang Tech S-Lab/NLP Lab</a> advised by Aixin Sun. I'm interested in developing machine learning tools for information retrieval and natural language generation. My current research is focused on multi-modal information retrieval for video grounding. 
  <p>
  I received my Bachelor degree in Computer Science and Technology from UESTC.
  </p>
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Full publications on <a href="https://scholar.google.com/citations?user=mKia7Y4AAAAJ&hl=en" target="_blank">Google Scholar</a>.
  <br> <sup><b>E</b></sup> indicates authors with equal contribution. <sup>#</sup> indicates students supervised. </p> 

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#all">ALL</div></li>
    <li><div class="button" data-ref="#at">At PSU</div></li>    
  </ul>


  <div class="tab-content">
    <div class="tab-pane active" id="all">

      <div class="paper">
          <p class="title"><b>PAT: Geometry-Aware Hard-Label Black-Box Adversarial Attacks on Text</b></p>
          <p>Muchao Ye, <b>Jinghui Chen</b>, Chenglin Miao, Han Liu, Ting Wang and Fenglong Ma</p>
          <p><i> in Proceedings of the 29th ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD), San Diego, CA, USA, 2023.</i></p>
           
          <div class="paper-buttons">
              <a class="button" href="" target="_blank">Paper</a>
          </div>
      </div>

      <div class="paper">
          <p class="title"><b>Benign Overfitting in Adversarially Robust Linear Classification</b></p>
          <p><b>Jinghui Chen<sup><b>E</b></sup></b>, Yuan Cao<sup><b>E</b></sup>, and Quanquan Gu</p>
          <p><i> in Proceedings of the 39th Conference on Uncertainty in Artificial Intelligence (UAI), Pittsburgh, PA, USA, 2023.</i></p>
           
          <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2112.15250" target="_blank">Paper</a>
          </div>
      </div>

      <div class="paper">
          <p class="title"><b>Graph Contrastive Backdoor Attacks</b></p>
          <p>Hangfan Zhang, <b>Jinghui Chen</b>, Lu Lin, Jinyuan Jia and Dinghao Wu</p>
          <p><i> in Proceedings of the 40th International Conference on Machine Learning (ICML), Hawaii, USA, 2023. </i></p>
           
          <div class="paper-buttons">
              <a class="button" href="" target="_blank">Paper</a>
          </div>
      </div>


      <div class="paper">
          <p class="title"><b>Multiple Models for Outbreak Decision Support in the Face of Uncertainty</b></p>
          <p>Katriona Shea, ..., <b>Jinghui Chen</b>, ..., Michael C. Runge.</p>
          <p><i>in Proceedings of the National Academy of Sciences (PNAS), 2023.</i></p>
          <div class="paper-buttons">
              <a class="button" href="https://www.pnas.org/doi/10.1073/pnas.2207537120" target="_blank">Paper</a>
          </div>
        </div>


      <div class="paper">
        <p class="title"><b>Do Language Models Plagiarize?</b></p>
        <p>Lee, Jooyoung, Thai Le, <b>Jinghui Chen</b>, and Dongwon Lee</p>
        <p><i>in Proceedings of the ACM Web Conference (WWW), Austin, Texas, USA, 2023 </i></p>
         
        <div class="paper-buttons">
            <a class="button" href="https://arxiv.org/abs/2203.07618" target="_blank">Paper</a>
        </div>
      </div>


      <div class="paper">
          <p class="title"><b>Spectral Augmentation for Self-Supervised Learning on Graphs</b></p>
          <p>Lu Lin, <b>Jinghui Chen</b>, Hongning Wang</p>
          <p><i> in Proceedings of the 11th International Conference on Learning Representations (ICLR), Kigali Rwanda, 2023. </i></p>
          <p style="color:blue;">A short version of this paper also appears on NeurIPS 2022 Workshop on New Frontiers in Graph Learning.
          </p>
           
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2210.00643" target="_blank">Paper</a>
          </div>
        </div>

      <div class="paper">
          <p class="title"><b>On the Vulnerability of Backdoor Defenses for Federated Learning</b> </p>
          <p>Pei Fang<sup>#</sup> and <b>Jinghui Chen</b></p>
          <p><i>  in Proceedings of the 37th Conference on Artificial Intelligence (AAAI), Washington DC, USA, 2023. </i></p>
          <p style="color:blue;">A short version of this paper also appears on International Workshop on Federated Learning: Recent Advances and New Challenges in Conjunction with NeurIPS 2022.
            </p>
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2301.08170" target="_blank">Paper</a>
              <!-- <a class="button" href="https://github.com/jinghuichen/AWM" target="_blank">Code</a> -->
          </div>
        </div>



       <div class="paper">
          <p class="title"><b>One-shot Neural Backdoor Erasing via Adversarial Weight Masking</b> </p>
          <p>Shuwen Chai<sup>#</sup>  and <b>Jinghui Chen</b></p>
          <p><i> in Proceedings of the 36th Advances in Neural Information Processing Systems (NeurIPS), New Orleans, LA, USA, 2022. </i></p>
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2207.04497" target="_blank">Paper</a>
              <a class="button" href="https://github.com/jinghuichen/AWM" target="_blank">Code</a>
          </div>
        </div>


        

        <div class="paper">
          <p class="title"><b>How Powerful is Implicit Denoising in Graph Neural Networks</b></p>
          <p>Songtao Liu, Zhitao Ying, Hanze Dong, Lu Lin, <b>Jinghui Chen</b> and Dinghao Wu</p>
          <p><i>NeurIPS 2022 Workshop on New Frontiers in Graph Learning. </i></p>
           
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2209.14514" target="_blank">Paper</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>The United States COVID-19 Forecast Hub dataset</b></p>
          <p>Estee Y Cramer, ..., <b>Jinghui Chen</b>, ..., Nicholas G. Reich</p>
          <p><i>Scientific Data, 9(1), pp.1-15., 2022. </i></p>
           <div class="paper-buttons">
              <a class="button" href="https://www.nature.com/articles/s41597-022-01517-w#" target="_blank">Paper</a>
          </div>
        </div>


        <div class="paper">
          <p class="title"><b>LeapAttack: Hard-Label Adversarial Attack on Text via Gradient-Based Optimization</b></p>
          <p>Muchao Ye, <b>Jinghui Chen</b>, Chenglin Miao, Ting Wang and Fenglong Ma</p>
          <p><i> in Proceedings of the 28th ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD), Washington DC, USA, 2022. </i></p>
           
          <div class="paper-buttons">
              <a class="button" href="https://dl.acm.org/doi/abs/10.1145/3534678.3539357" target="_blank">Paper</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>Communication-Efficient Adaptive Federated Learning</b></p>
          <p>Yujia Wang<sup>#</sup> , Lu Lin and <b>Jinghui Chen</b></p>
          <p><i> in Proceedings of the 39th International Conference on Machine Learning (ICML), Baltimore, Maryland, USA, 2022. </i></p>
           
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2205.02719" target="_blank">Paper</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>RoCourseNet: Distributionally Robust Training of a Prediction Aware Recourse Model</b></p>
          <p>Hangzhi Guo, Feiran Jia, <b>Jinghui Chen</b>, Anna Squicciarini and Amulya Yadav</p>
          <p><i>ICML 2022 Workshop on Adversarial Machine Learning Frontiers.  </i></p>
           
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2206.00700" target="_blank">Paper</a>
          </div>
        </div>



      
        <div class="paper">
          <p class="title"><b>Evaluation of individual and ensemble probabilistic forecasts of COVID-19 mortality in the US</b></p>
          <p>Estee Y Cramer, ..., <b>Jinghui Chen</b>, ..., Nicholas G. Reich</p>
          <p><i>in Proceedings of the National Academy of Sciences (PNAS), 2022.</i></p>
           <div class="paper-buttons">
              <a class="button" href="https://www.pnas.org/doi/full/10.1073/pnas.2113561119" target="_blank">Paper</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>Learnability Lock: Authorized Learnability Control Through Adversarial Invertible Transformations</b></p>
          <p>Weiqi Peng<sup>#</sup>  and <b>Jinghui Chen</b></p>
          <p><i>in Proceedings of the 10th International Conference on Learning Representations (ICLR), Virtual, 2022.</i></p>
           <div class="paper-buttons">
              <a class="button" href="https://openreview.net/forum?id=6VpeS27viTq" target="_blank">Paper</a>
              <!-- <a class="button" href="https://github.com/NormalUhr/Fast_BAT" target="_blank">Code</a> -->
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>Communication-Compressed Adaptive Gradient Method for Distributed Nonconvex Optimization</b></p>
          <p>Yujia Wang<sup>#</sup> , Lu Lin and <b>Jinghui Chen</b></p>
          <p><i>in Proceedings of the 25th International Conference on Artificial Intelligence and Statistics (AISTATS), Virtual, 2022. </i></p>
          <p style="color:blue;">A short version of this paper also appears on International Workshop on Trustable, Verifiable and Auditable Federated Learning in Conjunction with AAAI 2022 (FL-AAAI-22).
            </p>
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2111.00705" target="_blank">Paper</a>
              <a class="button" href="https://github.com/jinghuichen/CD-Adam" target="_blank">Code</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>Efficient Robust Training via Backward Smoothing</b></p>
          <p><b>Jinghui Chen</b>, Yu Cheng, Zhe Gan, Quanquan Gu and Jingjing Liu</p>
          <p><i>In Proceedings of the 36th AAAI Conference on Artificial Intelligence (AAAI), Vancouver, BC, Canada, 2022.</i></p>
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2010.01278" target="_blank">Paper</a>
              <a class="button" href="https://github.com/jinghuichen/BackwardSmoothing" target="_blank">Code</a>
          </div>
        </div>
     
        <div class="paper">
          <p class="title"><b>Do Wider Neural Networks Really Help Adversarial Robustness?</b></p>
          <p>Boxi Wu<sup><b>E</b></sup>, <b>Jinghui Chen<sup><b>E</b></sup></b>, Deng Cai, Xiaofei He and Quanquan Gu</p>
          <p><i>in Proceedings of the 35th Advances in Neural Information Processing Systems (NeurIPS), Virtual, 2021.</i></p>
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2010.01279" target="_blank">Paper</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>Benign Overfitting in Adversarially Robust Linear Classification</b></p>
          <p><b>Jinghui Chen<sup><b>E</b></sup></b>, Yuan Cao<sup><b>E</b></sup> and Quanquan Gu</p>
          <p><i>ICML 2021 Workshop on Overparameterization: Pitfalls and Opportunities.</i></p>
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2112.15250" target="_blank">Paper</a>
          </div>
        </div>
          
        <div class="paper">
          <p class="title"><b>Epidemic Model Guided Machine Learning for COVID-19 Forecasts in the United States</b></p>
          <p>Difan Zou, Lingxiao Wang, Pan Xu, <b>Jinghui Chen</b>, Weitong Zhang and Quanquan Gu</p>
          <p><i>ICLR 2021 Workshop on Machine Learning for Preventingand Combating Pandemics.</i></p>
           <div class="paper-buttons">
              <a class="button" href="https://www.medrxiv.org/content/10.1101/2020.05.24.20111989v1" target="_blank">Paper</a>
          </div>
        </div>

       

        <div class="paper">
          <p class="title"><b>On the Convergence of Adaptive Gradient Methods for Nonconvex Optimization</b></p>
          <p>Dongruo Zhou<sup><b>E</b></sup>, <b>Jinghui Chen<sup><b>E</b></sup></b>, Yuan Cao<sup><b>E</b></sup>, Yiqi Tang, Ziyan Yang, and Quanquan Gu</p>
          <p><i>NeurIPS 2020 Workshop on Optimization for Machine Learning.</i></p>
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/1808.05671" target="_blank">Paper</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>Ensemble Forecasts of Coronavirus Disease 2019 (COVID-19) in the U.S</b></p>
          <p>COVID-19 Forecast Hub Consortium, <b>Jinghui Chen</b>.</p>
          <p><i>medRxiv:2020.08.19.20177493, 2020.</i></p>
           <div class="paper-buttons">
              <a class="button" href="https://www.medrxiv.org/content/10.1101/2020.08.19.20177493v1" target="_blank">Paper</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>RayS: A Ray Searching Method for Hard-label Adversarial Attack</b></p>
          <p><b>Jinghui Chen</b> and Quanquan Gu</p>
          <p><i>in Proceedings of the 26th ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD), 
            San Diego, CA, USA 2020. </i></p>
            <p style="color:blue;">A short version of this paper also appears on ICML 2020 Workshop on Uncertainty & Robustness in Deep Learning
            and ECCV 2020 Workshop on Adversarial Robustness in the Real World.
            </p>
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2006.12792" target="_blank">Paper</a>
              <a class="button" href="https://github.com/uclaml/RayS" target="_blank">Code</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>Closing the Generalization Gap of Adaptive Gradient Methods in Training Deep Neural Networks</b></p>
          <p><b>Jinghui Chen</b>, Dongruo Zhou, Yiqi Tang, Ziyan Yang, Yuan Cao and Quanquan Gu</p>
          <p><i>in Proceedings of 29th International Joint Conference on Artificial Intelligence (IJCAI),
            Yokohama, Japan, 2020. </i></p>
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/1806.06763" target="_blank">Paper</a>
              <a class="button" href="https://github.com/uclaml/Padam" target="_blank">Code</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>Understanding the Intrinsic Robustness of Image Distributions using Conditional Generative Models</b></p>
          <p>Xiao Zhang<sup><b>E</b></sup>, <b>Jinghui Chen<sup><b>E</b></sup></b>, Quanquan Gu and David Evans</p>
          <p><i>in Proceedings of the 23rd International Conference on Artificial Intelligence and Statistics (AISTATS),
            Palermo, Sicily, Italy, 2020.  </i></p>
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2003.00378" target="_blank">Paper</a>
              <a class="button" href="https://github.com/xiaozhanguva/Intrinsic-Rob" target="_blank">Code</a>
          </div>
        </div>


        <div class="paper">
          <p class="title"><b>A Frank-Wolfe Framework for Efficient and Effective Adversarial Attacks </b></p>
          <p><b>Jinghui Chen</b>, Dongruo Zhou, Jinfeng Yi and Quanquan Gu</p>
          <p><i>in Proceedings of the 34th Conference on Artificial Intelligence (AAAI), New York, New York, USA, 2020.  </i></p>
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/1811.10828" target="_blank">Paper</a>
              <a class="button" href="https://github.com/uclaml/Frank-Wolfe-AdvML" target="_blank">Code</a>
          </div>
        </div>
 
        <div class="paper">
          <p class="title"><b>Global Convergence of Langevin Dynamics Based Algorithms for Nonconvex Optimization</b></p>
          <p>Pan Xu<sup><b>E</b></sup>, <b>Jinghui Chen<sup><b>E</b></sup></b>, Difan Zou and Quanquan Gu</p>
          <p><i>in Proceedings of the 32nd Advances in Neural Information Processing Systems (NIPS), Montréal, Canada, 2018. 
           <!-- <font color="red"> (Spotlight, 3.5%) </font> -->
           </i>
          </p>
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/1707.06618" target="_blank">Paper</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>Covariate Adjusted Precision Matrix Estimation via Nonconvex Optimization</b></p>
          <p><b>Jinghui Chen</b>, Pan Xu, Lingxiao Wang, Jian Ma and Quanquan Gu</p>
          <p><i>in Proceedings of the 35th International Conference on Machine Learning (ICML), Stockholm, Sweden, 2018. 
            <!-- <font color="red">  (Long Oral Presentation, 4.8%)</font> -->
          </i>
          </p>
           <div class="paper-buttons">
              <a class="button" href="http://proceedings.mlr.press/v80/chen18n.html" target="_blank">Paper</a>
              <a class="button" href="https://github.com/uclaml/nonconvex-CGGM" target="_blank">Code</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>Fast Newton Hard Thresholding Pursuit for Sparsity Constrained Nonconvex Optimization</b></p>
          <p><b>Jinghui Chen</b> and Quanquan Gu</p>
          <p><i>in Proceedings of the 23rd ACM SIGKDD Conference
            on Knowledge Discovery and Data Mining (KDD), Halifax, Nova Scotia, Canada, 2017.</i></p>
           <div class="paper-buttons">
              <a class="button" href="https://www.kdd.org/kdd2017/papers/view/fast-newton-hard-thresholding-pursuit-for-sparsity-constrained-nonconvex-op" target="_blank">Paper</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>Robust Wirtinger Flow for Phase Retrieval with Arbitrary Corruption</b></p>
          <p><b>Jinghui Chen</b>, Lingxiao Wang, Xiao Zhang, and Quanquan Gu</p>
          <p><i>arXiv:1704.06256, 2017.</i></p>
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/1704.06256" target="_blank">Paper</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>Outlier Detection with Autoencoder Ensembles</b></p>
          <p><b>Jinghui Chen</b>, Saket Sathe, Charu Aggarwal, and Deepak Turaga</p>
          <p><i>in Proceedings of the 17th SIAM International Conference on Data Mining (SDM), Houston, Texas, USA, 2017. </i></p>
           <div class="paper-buttons">
              <a class="button" href="https://saketsathe.net/downloads/autoencode.pdf" target="_blank">Paper</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>Stochastic Block Coordinate Gradient Descent for Sparsity Constrained Optimization</b></p>
          <p><b>Jinghui Chen</b> and Quanquan Gu</p>
          <p><i>in Proceedings of the 32th International Conference on Uncertainty in Artificial Intelligence (UAI), New York, USA, 2016. </i></p>
           <div class="paper-buttons">
              <a class="button" href="http://auai.org/uai2016/proceedings/papers/202.pdf" target="_blank">Paper</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>Improved threshold Selection by using Calibrated Probabilities for Random Forest Classifiers</b></p>
          <p>Florian Baumann, <b>Jinghui Chen</b>, Karsten Vogt and Bodo Rosenhahn</p>
          <p><i>in Proceedings of the 12th Conference on Computer and Robot Vision (CRV), Halifax, Nova Scotia, Canada,
            2015.  </i></p>
           <div class="paper-buttons">
              <a class="button" href="https://ieeexplore.ieee.org/document/7158334" target="_blank">Paper</a>
          </div>
        </div>
    </div>
        

    <div class="tab-pane" id="at">

      <div class="paper">
          <p class="title"><b>PAT: Geometry-Aware Hard-Label Black-Box Adversarial Attacks on Text</b></p>
          <p>Muchao Ye, <b>Jinghui Chen</b>, Chenglin Miao, Han Liu, Ting Wang and Fenglong Ma</p>
          <p><i> in Proceedings of the 29th ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD), San Diego, CA, USA, 2023.</i></p>
           
          <div class="paper-buttons">
              <a class="button" href="" target="_blank">Paper</a>
          </div>
      </div>

      <div class="paper">
          <p class="title"><b>Benign Overfitting in Adversarially Robust Linear Classification</b></p>
          <p><b>Jinghui Chen<sup><b>E</b></sup></b>, Yuan Cao<sup><b>E</b></sup>, and Quanquan Gu</p>
          <p><i> in Proceedings of the 39th Conference on Uncertainty in Artificial Intelligence (UAI), Pittsburgh, PA, USA, 2023.</i></p>
           
          <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2112.15250" target="_blank">Paper</a>
          </div>
      </div>

      <div class="paper">
          <p class="title"><b>Graph Contrastive Backdoor Attacks</b></p>
          <p>Hangfan Zhang, <b>Jinghui Chen</b>, Lu Lin, Jinyuan Jia and Dinghao Wu</p>
          <p><i> in Proceedings of the 40th International Conference on Machine Learning (ICML), Hawaii, USA, 2023. </i></p>
           
          <div class="paper-buttons">
              <a class="button" href="" target="_blank">Paper</a>
          </div>
      </div>

      <div class="paper">
        <p class="title"><b>Do Language Models Plagiarize?</b></p>
        <p>Lee, Jooyoung, Thai Le, <b>Jinghui Chen</b>, and Dongwon Lee</p>
        <p><i> in Proceedings of the Web Conference (WWW), Austin, Texas, USA, 2023 </i></p>
         
         <div class="paper-buttons">
            <a class="button" href="https://arxiv.org/abs/2203.07618" target="_blank">Paper</a>
        </div>
      </div>


      <div class="paper">
          <p class="title"><b>Spectral Augmentation for Self-Supervised Learning on Graphs</b></p>
          <p>Lu Lin, <b>Jinghui Chen</b>, Hongning Wang</p>
          <p><i> in Proceedings of the 11th International Conference on Learning Representations (ICLR), Kigali Rwanda, 2023. </i></p>
          <p style="color:blue;">A short version of this paper also appears on NeurIPS 2022 Workshop on New Frontiers in Graph Learning.
          </p>
           
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2210.00643" target="_blank">Paper</a>
          </div>
        </div>

      <div class="paper">
          <p class="title"><b>On the Vulnerability of Backdoor Defenses for Federated Learning</b> </p>
          <p>Pei Fang<sup>#</sup> and <b>Jinghui Chen</b></p>
          <p><i>  in Proceedings of the 37th Conference on Artificial Intelligence (AAAI), Washington DC, USA, 2023. </i></p>
          <p style="color:blue;">A short version of this paper also appears on International Workshop on Federated Learning: Recent Advances and New Challenges in Conjunction with NeurIPS 2022.
            </p>
           <div class="paper-buttons">
              <a class="button" href="#" target="_blank">Paper</a>
              <!-- <a class="button" href="https://github.com/jinghuichen/AWM" target="_blank">Code</a> -->
          </div>
        </div>

      <div class="paper">
          <p class="title"><b>One-shot Neural Backdoor Erasing via Adversarial Weight Masking</b></p>
          <p>Shuwen Chai<sup>#</sup> and <b>Jinghui Chen</b></p>
          <p><i> in Proceedings of the 36th Advances in Neural Information Processing Systems (NeurIPS), New Orleans, LA, USA, 2022. </i></p>
           
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2207.04497" target="_blank">Paper</a>
              <a class="button" href="https://github.com/jinghuichen/AWM" target="_blank">Code</a>
          </div>
        </div>
 

      <div class="paper">
        <p class="title"><b>How Powerful is Implicit Denoising in Graph Neural Networks</b></p>
        <p>Songtao Liu, Zhitao Ying, Hanze Dong, Lu Lin, <b>Jinghui Chen</b> and Dinghao Wu</p>
        <p><i>NeurIPS 2022 Workshop on New Frontiers in Graph Learning. </i></p>
         
         <div class="paper-buttons">
            <a class="button" href="https://arxiv.org/abs/2209.14514" target="_blank">Paper</a>
        </div>
      </div>

      <div class="paper">
          <p class="title"><b>LeapAttack: Hard-Label Adversarial Attack on Text via Gradient-Based Optimization</b></p>
          <p>Muchao Ye, <b>Jinghui Chen</b>, Chenglin Miao, Ting Wang and Fenglong Ma</p>
          <p><i> in Proceedings of the 28th ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD), Washington DC, USA, 2022. </i></p>
           
          <div class="paper-buttons">
              <a class="button" href="https://dl.acm.org/doi/abs/10.1145/3534678.3539357" target="_blank">Paper</a>
          </div>
        </div>

       <div class="paper">
          <p class="title"><b>Communication-Efficient Adaptive Federated Learning</b></p>
          <p>Yujia Wang<sup>#</sup>, Lu Lin and <b>Jinghui Chen</b></p>
          <p><i> in Proceedings of the 39th International Conference on Machine Learning (ICML), Baltimore, Maryland, USA, 2022. </i></p>
           
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2205.02719" target="_blank">Paper</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>RoCourseNet: Distributionally Robust Training of a Prediction Aware Recourse Model</b></p>
          <p>Hangzhi Guo, Feiran Jia, <b>Jinghui Chen</b>, Anna Squicciarini and Amulya Yadav</p>
          <p><i>ICML 2022 Workshop on Adversarial Machine Learning Frontiers.  </i></p>
           
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2206.00700" target="_blank">Paper</a>
          </div>
        </div>
 
        
        <div class="paper">
          <p class="title"><b>Learnability Lock: Authorized Learnability Control Through Adversarial Invertible Transformations</b></p>
          <p>Weiqi Peng<sup>#</sup> and <b>Jinghui Chen</b></p>
          <p><i>in Proceedings of the 10th International Conference on Learning Representations (ICLR), Virtual, 2022.</i></p>
           <div class="paper-buttons">
              <a class="button" href="https://openreview.net/forum?id=6VpeS27viTq" target="_blank">Paper</a>
              <!-- <a class="button" href="https://github.com/NormalUhr/Fast_BAT" target="_blank">Code</a> -->
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>Communication-Compressed Adaptive Gradient Method for Distributed Nonconvex Optimization</b></p>
          <p>Yujia Wang<sup>#</sup>, Lu Lin and <b>Jinghui Chen</b></p>
          <p><i>in Proceedings of the 25th International Conference on Artificial Intelligence and Statistics (AISTATS), Virtual, 2022. </i></p>
          <p style="color:blue;">A short version of this paper also appears on International Workshop on Trustable, Verifiable and Auditable Federated Learning in Conjunction with AAAI 2022.
            </p>
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2111.00705" target="_blank">Paper</a>
              <!-- <a class="button" href="https://github.com/NormalUhr/Fast_BAT" target="_blank">Code</a> -->
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>Efficient Robust Training via Backward Smoothing</b></p>
          <p><b>Jinghui Chen</b>, Yu Cheng, Zhe Gan, Quanquan Gu and Jingjing Liu</p>
          <p><i>in Proceedings of the 36th AAAI Conference on Artificial Intelligence (AAAI), Vancouver, BC, Canada, 2022.</i></p>
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2010.01278" target="_blank">Paper</a>
              <a class="button" href="https://github.com/jinghuichen/BackwardSmoothing" target="_blank">Code</a>
          </div>
        </div>
     
        <div class="paper">
          <p class="title"><b>Do Wider Neural Networks Really Help Adversarial Robustness?</b></p>
          <p>Boxi Wu<sup><b>E</b></sup>, <b>Jinghui Chen<sup><b>E</b></sup></b>, Deng Cai, Xiaofei He and Quanquan Gu</p>
          <p><i>in Proceedings of the 35th Advances in Neural Information Processing Systems (NeurIPS), Virtual, 2021.</i></p>
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2010.01279" target="_blank">Paper</a>
          </div>
        </div>

        <div class="paper">
          <p class="title"><b>Benign Overfitting in Adversarially Robust Linear Classification</b></p>
          <p><b>Jinghui Chen<sup><b>E</b></sup></b>, Yuan Cao<sup><b>E</b></sup> and Quanquan Gu</p>
          <p><i>ICML 2021 Workshop on Overparameterization: Pitfalls and Opportunities.</i></p>
           <div class="paper-buttons">
              <a class="button" href="https://arxiv.org/abs/2112.15250" target="_blank">Paper</a>
          </div>
        </div>
          
      
       
      
    </div>

  </div>
</div>


<!-- ========== PROJECTS ========== -->
<div class="docs-section" id="projects">
  <h4>Projects</h4>
  <div class="tab-pane" id="projects-all">
    {% for project in site.data.projects.projects %}
      {% assign index_modulo = forloop.index0 | modulo:3 %}
      {% if index_modulo == 0 %}
        <div class="row">
      {% endif %}

        <div class="four columns">
          <div class="project-container">

              <div class="project-image-container">
                <a href="{{ project.url }}">
                  <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                </a>
              </div>

              <div class="project-caption">
                <b>{{ project.title }}</b> <br/>
                {{ project.subtitle }}
              </div>

          </div>
        </div>

      {% if index_modulo == 2 %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

</div>




<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <p>Full CV in <a href={{ "/assets/cv/cv_web.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>


</div>


