---
layout: default
title: Personal Webpage
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  I'm a master student in the <a href="https://stanfordmlgroup.github.io/">Nanyang Tech S-Lab/NLP Lab</a> advised by Aixin Sun. I'm interested in developing machine learning tools for information retrieval and natural language generation. My current research is focused on multi-modal information retrieval for video grounding. 
  <p>
  I received my Bachelor degree in Computer Science and Technology from UESTC.
  </p>
</div>

<!-- ========== NEWS ========== -->
<!-- Had to add empty anchor to solve the problem of fixed header
     hiding part of paper
-->
<span class="anchor" id="news"></span>
<div class="docs-section">
  <h4>News</h4>
  <!-- <p> Scroll for older news </p> -->
  <UL style="list-style-type: none; padding: 2px; overflow-y: scroll; height:500px;">
    <li>
      [05/2023] Our paper is accepted to KDD 2023: "PAT: Geometry-Aware Hard-Label Black-Box Adversarial Attacks on Text" 
    </li> 
    <li>
      [05/2023] Our paper is accepted to UAI 2023: "Benign Overfitting in Adversarially Robust Linear Classification" 
    </li> 
    <li>
      [04/2023] Our paper is accepted to ICML 2023: "Graph Contrastive Backdoor Attacks" 
    </li> 
    <li>
      [01/2023] Our paper is accepted to WWW 2023: "Do Language Models Plagiarize?" 
    </li> 
    <li>
      [01/2023] Our paper is accepted to ICLR 2023: "Spectral Augmentation for Self-Supervised Learning on Graphs" 
    </li> 
    <li>
      [12/2022] Our paper is accepted to AAAI 2023: "On the Vulnerability of Backdoor Defenses for Federated Learning" 
    </li> 
    <li>
      [09/2022] Our paper is accepted to NeurIPS 2022: "One-shot Neural Backdoor Erasing via Adversarial Weight Masking" 
    </li> 
    <li>
      [05/2022] Our paper is accepted to KDD 2022: "LeapAttack: Hard-Label Adversarial Attack on Text via Gradient-Based Optimization" 
    </li> 
    <li>
      [05/2022] Our paper is accepted to ICML 2022: "Communication-Efficient Adaptive Federated Learning" 
    </li>  
    <li>
      [05/2022] Dr. Chen recieved received Cisco Faculty Research Award!
    </li>   
    <li>
      [01/2022] Our paper is accepted to ICLR 2022: "Learnability Lock: Authorized Learnability Control Through Adversarial Invertible Transformations" 
    </li>    
    <li>
      [01/2022] Our paper is accepted to AISTATS 2022: "Communication-Compressed Adaptive Gradient Method for Distributed Nonconvex Optimization" 
    </li>        
    <li>
      [12/2021] Our paper is accepted to AAAI 2022: "Efficient Robust Training via Backward Smoothing" 
    </li>  
    <li>
      [09/2021] Our paper is accepted to NeurIPS 2021:
       "Do Wider Neural Networks Really Help Adversarial Robustness?"
    </li>  
    <li>
      [06/2021] I recieved UCLA Outstanding Graduate Student Research Award. 
    </li> 
    <li>
      [04/2021] I will join the College of Information Sciences and Technology (IST) at Penn State University (PSU) in Fall 2021 as a tenure-track assistant professor. 
    </li> 
    <li>
      [07/2020] Released  <a href="https://github.com/uclaml/RayS" target="_blank">Model Robustness (ADBD) Leaderboard </a>under RayS attack: 
       Benchmarking state-of-the-art robust trained models with ADBD metric
    </li> 
    <li>
      [05/2020] Our paper is accepted to KDD 2020: 
       "RayS: A Ray Searching Method for Hard-label Adversarial Attack"
    </li> 
    <li>
      [04/2020] Our paper is accepted to IJCAI 2020:
       "Closing the Generalization Gap of Adaptive Gradient Methods in Training Deep Neural Networks"
    </li> 
    <li>
      [04/2020] We just launched a project using machine learning and AI to combat Covid-19!
       <a href="https://covid19.uclaml.org/" target="_blank"> Live data visualization and new cases / peak predictions </a>
    </li> 
    <li>
      [01/2020] Our paper is accepted to AISTATS 2020:
       "Understanding the Intrinsic Robustness of Image Distributions using Conditional Generative Models"
    </li> 
    <li>
      [11/2019] Our paper is accepted to AAAI 2020:
       "A Frank-Wolfe Framework for Efficient and Effective Adversarial Attacks" 
    </li> 
    
     
    
  </UL>
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Full publications on <a href="https://scholar.google.com/citations?user=mKia7Y4AAAAJ&hl=en" target="_blank">Google Scholar</a>.
  <br> <sup><b>E</b></sup> indicates authors with equal contribution. </p> 

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#all">Selected</div></li>
    <li><div class="button" data-ref="#at">All</div></li>    
  </ul>


  <div class="tab-content">
    <div class="tab-pane active" id="all">

      
        <div class="paper">
          <p class="title"><b>V3Trans-Crowd: A Video-based Visual Transformer for Crowd Management Monitoring</b></p>
          <p><b>Yuqi Zuo</b>, Aymen Hamrouni, Hakim Ghazzai and Yehia Massoud</p>
          <p><i>in Proceedings of the 2023 IEEE International Conferece on Smart Mobility. </i></p>
            <p style="color:red;">Best Paper Award
            </p>
           <div class="paper-buttons">
              <a class="button" href="https://ieeexplore.ieee.org/document/10112514" target="_blank">Paper</a>
              <a class="button" href="https://github.com/uclaml/RayS" target="_blank">Code</a>
          </div>
        </div>          
      
      
    </div>

  </div>
</div>


<!-- ========== PROJECTS ========== -->
<div class="docs-section" id="projects">
  <h4>Projects</h4>
  <div class="tab-pane" id="projects-all">
    {% for project in site.data.projects.projects %}
      {% assign index_modulo = forloop.index0 | modulo:3 %}
      {% if index_modulo == 0 %}
        <div class="row">
      {% endif %}

        <div class="four columns">
          <div class="project-container">

              <div class="project-image-container">
                <a href="{{ project.url }}">
                  <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                </a>
              </div>

              <div class="project-caption">
                <b>{{ project.title }}</b> <br/>
                {{ project.subtitle }}
              </div>

          </div>
        </div>

      {% if index_modulo == 2 %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

</div>




<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <p>Full CV in <a href={{ "/assets/cv/cv_web.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>


</div>


