---
layout: default
title: Personal Webpage
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  I'm a master student in the <a href="https://stanfordmlgroup.github.io/">Nanyang Tech S-Lab/NLP Lab</a> advised by Aixin Sun. I'm interested in developing machine learning tools for information retrieval and natural language generation. My current research is focused on multi-modal information retrieval for video grounding. 
  <p>
  I received my Bachelor degree in Computer Science and Technology from UESTC.
  </p>
</div>

<!-- ========== NEWS ========== -->
<!-- Had to add empty anchor to solve the problem of fixed header
     hiding part of paper
-->
<span class="anchor" id="news"></span>
<div class="docs-section">
  <h4>News</h4>
  <!-- <p> Scroll for older news </p> -->
  <UL style="list-style-type: none; padding: 2px; overflow-y: scroll; height:500px;">

    <li>
      [11/2019] Our paper is accepted to AAAI 2020:
       "A Frank-Wolfe Framework for Efficient and Effective Adversarial Attacks" 
    </li> 
    
     
    
  </UL>
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Full publications on <a href="https://scholar.google.com/citations?user=mKia7Y4AAAAJ&hl=en" target="_blank">Google Scholar</a>.
  <br> <sup><b>E</b></sup> indicates authors with equal contribution. </p> 

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#all">Selected</div></li>
    <li><div class="button" data-ref="#at">All</div></li>    
  </ul>


  <div class="tab-content">
    <div class="tab-pane active" id="all">

      
        <div class="paper">
          <p class="title"><b>V3Trans-Crowd: A Video-based Visual Transformer for Crowd Management Monitoring</b></p>
          <p><b>Yuqi Zuo</b>, Aymen Hamrouni, Hakim Ghazzai and Yehia Massoud</p>
          <p><i>in Proceedings of the 2023 IEEE International Conferece on Smart Mobility. </i></p>
            <p style="color:red;">Best Paper Award
            </p>
           <div class="paper-buttons">
              <a class="button" href="https://ieeexplore.ieee.org/document/10112514" target="_blank">Paper</a>
              <a class="button" href="https://github.com/uclaml/RayS" target="_blank">Code</a>
          </div>
        </div>          
      
      
    </div>

  </div>
</div>


<!-- ========== PROJECTS ========== -->
<div class="docs-section" id="projects">
  <h4>Projects</h4>
  <div class="tab-pane" id="projects-all">
    {% for project in site.data.projects.projects %}
      {% assign index_modulo = forloop.index0 | modulo:3 %}
      {% if index_modulo == 0 %}
        <div class="row">
      {% endif %}

        <div class="four columns">
          <div class="project-container">

              <div class="project-image-container">
                <a href="{{ project.url }}">
                  <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                </a>
              </div>

              <div class="project-caption">
                <b>{{ project.title }}</b> <br/>
                {{ project.subtitle }}
              </div>

          </div>
        </div>

      {% if index_modulo == 2 %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

</div>




<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <p>Full CV in <a href={{ "/assets/cv/cv_web.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>


</div>


